
@{
    ViewBag.Title = "ModifyPages";
}

<h2>Modificar páginas</h2>
<br />
<br />

<p>Seleccione la página que desea modificar</p>
<br />

<ul>
    <li><a href="/Page/ModifyHomePage">Home</a></li>
    <li><a href="/Page/ModifyAboutPage">Sobre Nosotros</a></li>
</ul>

