
@{
    /**/

    ViewBag.Title = "ModifyHowToGetPage";
}

<h2>Modificar página</h2>
<br />

<h3>¿Cómo llegar?</h3>
<br />

@foreach (var item in (List<AmazoniamWillowHotel.Models.Pagina>)ViewData["HowToGet"])
{
    foreach (var info in (List<AmazoniamWillowHotel.Models.Info>)@item.Info.ToList())
    {
        using (Html.BeginForm("modifyFacilities", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">

                <div class="col-sm-12">
                    <textarea type="text" id="description" name="description" class="form-control" rows="10" required oninvalid="setCustomValidity('Se requiere una descripción para la página de ¿Cómo llegar?')" oninput="setCustomValidity('')" style="resize: none;">@info.descripcion.Replace("^", "\n")</textarea>
                </div>

            </div>
            <br />
            <br />

            <div class="row">
                <div class="col-sm-4" style="float: right;">
                    <input type="submit" value="Aceptar" class="btn btn-primary" />
                    <a class="btn btn-danger delete"
                       data-id="0"
                       data-body-message="¿Descartar los cambios?"
                       data-redirect-url="../Admin/Index">
                        Cancelar
                    </a>
                </div>
            </div>
        }
    }
}

<script>
    $((function () {
        var url;
        var redirectUrl;
        var target;

        $('body').append(`
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Atención</h4>
                        </div>
                        <div class="modal-body delete-modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-delete">Cancelar</button>
                            <button type="button" class="btn btn-danger" id="confirm-delete">Descartar</button>
                        </div>
                        </div>
                    </div>
                    </div>`);

        //Delete Action
        $(".delete").on('click', (e) => {
            e.preventDefault();

            target = e.target;
            var Id = $(target).data('id');
            var controller = $(target).data('controller');
            var action = $(target).data('action');
            var bodyMessage = $(target).data('body-message');
            redirectUrl = $(target).data('redirect-url');

            url = "/" + controller + "/" + action + "?Id=" + Id;
            $(".delete-modal-body").text(bodyMessage);
            $("#deleteModal").modal('show');
        });

        $("#confirm-delete").on('click', () => {
            $.get(url)
                .done((result) => {
                    if (!redirectUrl) {
                        return $(target).parent().parent().hide("slow");
                    }
                    window.location.href = redirectUrl;
                })
                .fail((error) => {
                    if (redirectUrl)
                        window.location.href = redirectUrl;
                }).always(() => {
                    $("#deleteModal").modal('hide');
                });
        });

    }()));
</script>